@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/s/sacramento/v17/buEzpo6gcdjy0EiZMBUG0Co.ttf) format('truetype');
}
